<div class="row">
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
    <h3>Authentication</h3>

<form [formGroup]="authForm">
<div class="form-group">
    <label for="Email">Email</label>
    <input type="text" class="form-control" formControlName="email" />
  </div>
 
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" formControlName="password" />
  </div>
 
  <button  type="button" class="btn btn-success">Login</button>
  <button type="button"  class="btn btn-primary">signup</button>
</form>
</div>
</div>