
<h3 *ngIf="!editMode">Post Add </h3>
<h3 *ngIf="editMode">Post Edit</h3>

<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
<div class="form-group">
    <label for="usr">Title</label>
    <input type="text" class="form-control" formControlName="title" >
  </div>
  <div class="form-group">
    <label for="Desc">Descripton</label>
    <textarea type="desc" class="form-control" rows="5" formControlName="desc"></textarea>
  </div>
  <div class="form-group">
    <label for="ImagePath">Image</label>
    <input type="text" class="form-control" formControlName="imagePath"/>
    <img class="img-responsive" src="{{postForm.value.imagePath}}" />
  </div>
 
  <button [disabled]="!postForm.valid" type="submit" class="btn btn-success">Submit</button>
  <button type="submit" (click)="onCancle()" class="btn btn-primary">Cancle</button>
</form>